DJANGO_SECRET_KEY=secret

DJANGO_DB_NAME=name
DJANGO_DB_USER=user
DJANGO_DB_PASSWORD=password
DJANGO_DB_HOST=host
DJANGO_DB_PORT=port

SERVER_DOMAIN=your_server_domain
SERVER_IP=your_server_IP

SENTRY_LINK="https://<your-link>@sentry.io/<123456>"

EMAIL_HOST = 'smtp.sendgrid.net'
EMAIL_HOST_USER = 'sendgrid_username'
EMAIL_HOST_PASSWORD = 'sendgrid_password'
EMAIL_PORT = 587
EMAIL_USE_TLS = True
