{% extends 'base_accounts.html' %}
{% load i18n %}

{% block title %}Password Reset{% endblock %}

{% block card_body %}
  <h4 class="class-title">{% trans "Check your inbox." %}</h4>
  <p class="card-text">{% blocktrans %}We've emailed you instructions for setting your password. You should receive the email shortly!{% endblocktrans %}</p>
  <p class="card-text">If you did not receive email, please check your Spam box first, and ensure you have provided correct email address and try again.</p>
{% endblock %}
