{% extends "dashboard/base.html" %}

{% load crispy_forms_filters %}

{% block title %}Teacher Form{% endblock title %}

{% block content %}
<div class="col-sm-6">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Edit Teacher</h4>
      <form method="post">
        {% csrf_token %}
        {{ user_form|crispy }}
        {{ teacher_form|crispy }}
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
    <div class="card-footer text-muted text-center">
    * Required fields
    </div>
  </div>
</div>
{% endblock %}
