{% extends "dashboard/base.html" %}

{% block title %}Lesson Detail{% endblock title %}

{% block content %}

<div class="col-sm-6">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{ object.first_name }} {{ object.last_name }}</h4>

      <table class="table">
        <tr><td>length</td><td>{{ object.length }}</td></tr>
        <tr><td>price_for_unit</td><td>{{ object.price_for_unit }}</td></tr>
        <tr><td>date</td><td>{{ object.date }}</td></tr>
        <tr><td>notes</td><td>{{ object.notes }}</td></tr>
      </table>

      <a class="btn btn-primary" href="{{object.get_update_url}}">Edit Lesson</a>
      </div>
  </div>
</div>

{% endblock %}
