{% extends "base.html" %}
{% block title %}DASHBOARD BASE{% endblock title %}
{% load static %}

{% block stylesheets %}
  <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
  <link href="{% static 'css/sticky-footer-navbar.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
  {% include 'dashboard/navbar.html' %}

  <div class="container-fluid">
    <div class="row">
      {% include 'dashboard/sidebar.html' %}

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

        {% include 'dashboard/dashboard_header.html' %}
        {% block content %}{% endblock %}
      </main>

    </div>
  </div>

  <footer class="footer">
    <div class="container text-center">
      <a href="https://example.com">Language School</a>
    </div>
  </footer>
{% endblock %}
