<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'home' %}">
          <span data-feather="home"></span>
          Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'teacher_list' %}">
          <span data-feather="user-plus"></span>
          Teachers
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'student_list' %}">
          <span data-feather="user-plus"></span>
          Students
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'course_list' %}">
          <span data-feather="book"></span>
          Courses
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'lesson_list' %}">
          <span data-feather="book-open"></span>
          Lessons
        </a>
      </li>
    </ul>
  </div>
</nav>
